@import '../../styles/vars';
@import '../../styles/mixins';

.intro {
  &__buttons {
    @include flexCenter(space-between, center, row);
    margin-bottom: $spacer;
    
    &__button {
      padding: 17px 42px;
    }

    &__bookmark {
      width: 56px;
      height: 56px;
    }
  }
}

.icon {
  width: 56px;
  height: 56px;
  display: inline-block;
  background-size: cover;
  cursor: pointer;
  
  &-bookmark {
    background-image: url('../../assets/images/icon-bookmark.svg');
  }
}


// --- DESKTOP
@media only screen and (min-width: $desktop) {
  .intro {

    &__buttons {
      padding-left: $spacer*1.5;
      padding-right: $spacer*1.5;

      &__bookmark-desktop {
        width: 174px;
        background-color: $light-gray;
        border-radius: 25px;
        cursor: pointer;
        @include flexCenter(space-between, center, row);
      }

      &__bookmark {
        &__text {
          font-weight: 700;
          margin-right: $spacer*1.5;
        }
      }
    }
  }
}

.intro__buttons__bookmark-desktop:hover .icon {
  fill: hsl(0, 0%, 44%);
}

