@import '../../../styles/vars';
@import '../../../styles/mixins';

.pledge {
  @include flexCenter(center, center, column);

  &__wrapping {
    border: 1px solid $light-gray;
    border-radius: 8px;
    margin-bottom: $spacer*1.5;
    padding: $spacer*1.5;
    padding-bottom: 0;
  }

  &__header {
    @include flexCenter(space-between, center, row);
    width: 100%;
    margin-bottom: $spacer*1.5;
    margin-top: calc($spacer / 2);

    &__title {
      font-size: 1.1rem;
    }
  }

  &__description {
    font-size: 0.9rem;
    margin-bottom: $spacer*1.5;
  }

  &__reward {
    @include flexCenter(flex-start, center, row);
    margin-bottom: $spacer*1.5;

    &__radio-button {
      width: 24px;
      height: 24px;
      margin-right: $spacer;
      border: solid $light-gray;
      cursor: pointer;
    }

    &__pledge-title {
      font-size: 0.9rem;
      font-weight: 700;
      color: $black;
    }

    &__pledge-subtitle {
      font-size: 0.87rem;
      color: $primary-moderate;
    }

    &__text {
      font-size: 0.9rem;
      margin-bottom: $spacer*1.5;
    }

    &__qty {
      font-size: 1.2rem;
      color: $black;
      font-weight: 700;
      margin-right: calc($spacer / 2);
    }
  }

  // Hidden form
  &__details {
    @include flexCenter(center, center, column);

    display: none;
    border-top: 1px solid $light-gray;
    padding: $spacer*1.5;
    margin-left: -$spacer*1.5;
    margin-right: -$spacer*1.5;

    &__title {
      text-align: center;
      font-size: 0.9rem;
      margin-bottom: $spacer;
    }

    &__enter {
      @include flexCenter(space-between, center, row);
      width: 100%;
      
     &__input {
        border: 1px solid $light-gray;
        border-radius: 33px;
        padding: $spacer $spacer*1.5 ;
        width: 100px;
        
        &:focus {
          outline: solid 1px $primary-moderate;
        }
      } 
    }
  }

  // Style buttons
  &__button {
    padding: $spacer $spacer*1.5 ;
  }
}

// Dollar symbol inside input field
.input-symbol-dollar {
  position: relative;
  color: hsla(0, 0%, 0%, 0.25);
  font-size: 0.9rem;
  font-weight: 700;
}

.input-symbol-dollar input {
  padding-left: 41px;
}

.input-symbol-dollar:before {
  position: absolute;
  top: $spacer;
  content:"$";
  left: $spacer*1.5;
}

// Selected option
.checked {
  border: 2px solid $primary-moderate;
}

// Show and hide Enter pledge div
.show {
  display: block;
}

// Error message if pledge is empty
.error {
  font-size: 0.8rem;
  color: $error;
  position: absolute;
  left: 50%;
  bottom: $spacer*2;
  transform: translate(-50%,-50%);
}

// ------------------ DESKTOP ------------------------
@media only screen and (min-width: $desktop) {

  .modal__wrapper {
    max-width: 730px;
  }

  .pledge {
    @include flexCenter(center, flex-start, column);

    &__header {
      position: relative;
      margin-bottom: $spacer;

      &__title {
        font-size: 1.5rem;
      }

      &__close {
        position: relative;
        top: -$spacer;
        right: -$spacer;
        cursor: pointer;

        &__svg:hover {
          opacity: 1;
        }
      }
    }

    &__description {
      font-size: 1rem;
      margin-bottom: $spacer*2;
    }

    &__reward {
      margin-bottom: $spacer;

      &__pledge-title {
        font-size: 1rem;
        cursor: pointer;

        &:hover {
          color: $primary-moderate;
        }
      }

      &__text {
        font-size: 0.94rem;
        margin-left: $spacer*2.5;
        margin-bottom: $spacer*2;
      }
    }

    &__details {
      @include flexCenter(space-between, center, row);
      padding-top: 0;
      padding-bottom: calc($spacer/2);
      display: none;
      position: relative;

      &__title {
        text-align: left;
        position: relative;
        top: $spacer*2.5; // Align with buttons
      }

      &__enter {
        @include flexCenter(flex-end, center, row);
        position: relative;
        top: -$spacer;

        &__input {
          caret-color: $primary-moderate;
        }
      }
    }

    &__button {
      margin-left: $spacer;
    }
  }

  // Show and hide Enter pledge div
  .show {
    display: block;
  }

  // Error message if pledge is empty
  .error {
    position: absolute;
    bottom: 5px;
    right: 52px;
    transform: none;
  }

}