@import '../../../styles/vars';
@import '../../../styles/mixins';

.pledge {
  @include flexCenter(center, center, column);

  &__wrapping {
    border: 1px solid $light-gray;
    border-radius: 8px;
    margin-bottom: $spacer;
    padding: $spacer*1.5;
    padding-bottom: 0;
  }

  &__header {
    @include flexCenter(space-between, center, row);
    width: 100%;
    margin-bottom: $spacer*1.5;
    margin-top: calc($spacer / 2);

    &__title {
      font-size: 1.1rem;
    }
  }

  &__description {
    font-size: 0.9rem;
    margin-bottom: $spacer*1.5;
  }

  &__reward {
    @include flexCenter(flex-start, center, row);
    margin-bottom: $spacer*1.5;

    &__radio-button {
      width: 24px;
      height: 24px;
      margin-right: $spacer;
    }

    &__pledge-title {
      font-size: 0.9rem;
    }

    &__pledge-subtitle {
      font-size: 0.87rem;
      color: $primary-moderate;
    }

    &__qty {
      font-size: 1.2rem;
      color: $black;
      font-weight: 700;
      margin-right: calc($spacer / 2);
    }
  }

}
