// Layout
$mobile-max: 767px; // max-width for mobile
$desktop-min: 768px; // min-width for tablet and desktop

// Colours
$primary-moderate: hsl(176, 50%, 47%);
$primary-dark: hsl(176, 72%, 28%);
$black: hsl(0, 0%, 0%);
$neutral-gray: hsl(0, 0%, 48%);

// Typography
$text: hsl(0, 0%, 0%);
$font-size: 1rem;
$font-family: 'Commissioner', sans-serif;

// Spacing
$spacer: 16px; // 24 = x1.5 | 32 = x2 | 48 = x3 | 56 = x3.5



