// Layout
$mobile-max: 767px; // max-width for mobile
$desktop-min: 768px; // min-width for tablet and desktop

// Colours
$primary-moderate: hsl(176, 50%, 47%);
$primary-dark: hsl(176, 72%, 28%);
$primary-dark-transparent: hsla(176, 72%, 28%, 0.05);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$medium-gray: hsl(0, 0%, 59%);
$light-gray: hsl(0, 0%, 90%);
$background: 	hsl(0, 0%, 98%);

// Typography
$title: hsl(0, 0%, 0%);
$text: hsl(0, 0%, 48%);
$text-size-mobile: 0.9rem; // ~ 14px
$text-size-desktop: 1rem; // 16px
$text-family: 'Commissioner', sans-serif;

// Spacing
$spacer: 16px; // 24 = x1.5 | 32 = x2 | 48 = x3 | 56 = x3.5

// Screen dimensions
$mobile: 767px; // max-width
$desktop: 768px; // min-width



