@import '../../styles/vars';
@import '../../styles/mixins';

.close {
  position: relative;
  z-index: 2;
}

// DESKTOP
@media only screen and (min-width: $desktop) {
  .menu {
    
    &__desktop {
      width: 225px;
      font-weight: 500;
      font-size: 0.8rem;
      
      & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: block;
      }
      
      & li {
        margin-right: $spacer;
        float:left; 
        display: block;
        color: $white;
        border-radius: 20px;
        text-align: center;
        
        & a {
          color: $white;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}