@import '../../styles/vars';
@import '../../styles/mixins';

.header {
  background: url('/src/assets/images/image-hero-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;

  &__elements {
    @include flexCenter(space-between, center, row);
    padding: $spacer*1.5;

    &__logo-top {
      position: relative;
      z-index: 2;
    }
  }
}

// DESKTOP
@media only screen and (min-width: $desktop) {

  .header {
    background: url('/src/assets/images/image-hero-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    
    &__elements {
      max-width: 1109px;
      margin: 0 auto;

      &__logo {
        position: relative;
      }
    }
  }
}