@import '../../styles/vars';
@import '../../styles/mixins';

.header {

  &__image {
    // position: absolute;
  } 

  &__elements {
    @include flexCenter(space-between, center, row);

    &__logo, &__menu {
      top: $spacer*2;
    }
  
    &__logo {
      position: absolute;
      z-index: 1;
      left: $spacer*1.5;
    }
  
    &__menu {
      position: absolute;
      z-index: 1;
      right: $spacer*1.5;
    }

  }

}