@import '../../styles/vars';
@import '../../styles/mixins';

.header {
  // width: 100%;
  background: url('/src/assets/images/image-hero-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;

  &__elements {
    @include flexCenter(space-between, center, row);

    &__logo, &__menu {
      top: $spacer*2;
    }
  
    &__logo {
      position: relative;
      z-index: 1;
      left: $spacer*1.5;
    }
  
    &__menu {
      position: relative;
      z-index: 1;
      right: $spacer*1.5;
    }
  }
}

// DESKTOP
@media only screen and (min-width: $desktop) {
  .header {
    width: 100%;

    &__image {
      width: 100%;

      &__desktop {
        width: 100%;
        object-fit: cover;
      }
    } 

    &__elements {
      max-width: 800px;

      &__logo {
        position: relative;
      }
    }
  }
}