@import '../../styles/vars';
@import '../../styles/mixins';

.intro {
  text-align: center;

  &__image {
    width: 56px;
    height: 56px;
    position: absolute;
    top: -28px;
    left: 50%;
    transform: translateX(-50%); // center horizontally
  }

  &__title {
    padding-top: 24px;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: $spacer;
  }

  &__text {
    margin-bottom: $spacer*1.5;
  }

  &__buttons {
    @include flexCenter(space-between, center, row);
    margin-bottom: $spacer;
    
    &__button {
      padding: 17px 42px;
    }

    &__bookmark {
      width: 56px;
      height: 56px;
    }
  }
}