@import '../../styles/vars';
@import '../../styles/mixins';

.option {
  border: 1px solid $light-gray;
  border-radius: 8px;
  margin-bottom: $spacer*1.5;
  padding: $spacer*1.5;
  
  &__pledge {
    margin-bottom: $spacer*1.5;
    
    &__title {
      font-size: $text-size-mobile;
    }
    
    &__amount {
      font-weight: 500;
      color: $primary-moderate;
    }
    
    &__description {
      margin-bottom: $spacer*1.5;
    }
  }
  
  &__count {

    &__quantity {
      @include flexCenter(flex-start, center, row);

      &__left {
        font-size: 2rem;
        font-weight: 700;
        color: $black;
        margin-right: calc($spacer / 2);
      }
    }
  }  
  // Button
  &__select {
    padding: $spacer $spacer*2;
  }
}

.inactive {
  opacity: 0.50;

  &__button {
    background-color: $medium-gray;
    cursor: default;

    &:hover {
      background-color: $medium-gray;
    }
  }
}

// ---DESKTOP
@media only screen and (min-width: $desktop) {
  .option {
  padding: $spacer*2;
  padding-top: 38px;

    &__pledge {
      @include flexCenter(space-between, center, row);

      &__title {
        font-size: 1.1rem;
      }

      &__amount {
        font-size: 0.9rem;
      }
    }

    &__count {
      @include flexCenter(space-between, center, row);
    }


  }
}
